body {
	font-family: Helvetica;
	max-width: 1000px;
	min-width:800px;
	margin:auto;
	background-image: url("https://cdn-img-2.wanelo.com/p/2a1/c2a/595/1f815ba4ddf6286b3c091ab/x354-q80.jpg");
}

img {
	vertical-align: bottom;
}

td {
	text-align:center;
}

table {
	min-width: 800px;
	background-color: white;
	margin:auto;
	z-index: 1;
	display:block;
	margin-bottom: 50px;
}

main#teachings {
	position: absolute;
	top:150px;
}

main {

}

section{
	background-color: white;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	padding:25px;
}



header.title {
	background-color: white;
	position: fixed;
	width:100%;
	text-align:center;
	font-family: Georgia;
	border-bottom-style: solid;
	border-width: 1px;
	z-index: 3;
	top: 0px;
	right: 0px;
}


img#firstpic {
	margin-top: 150px;
	margin-left: 200px;
}

a:visited { color:navy; }

nav {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	width: 100%;
	right:0px;
	bottom: 0px;
	text-align: center;
	vertical-align: bottom;
	position:relative;
	font-size: 1em;
}

nav#tnav {
	position: absolute;
	top: 1450px
}

@media handheld {
	img {
		width: 300px;
}
}